# Dependency directories
node_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# Build directories
dist/
dist-ssr/
build/

# IDE / Editor logs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
